* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: cursive;
    
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 20px;
    font-variant: small-caps;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    

    

}
header > p {
    padding-bottom: 20px;
    font-family: cursive

}
a {
    color:  white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;

}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgba(0, 0, 0, 0.952);
    color: white;

}

section.imagem > p {
    display: inline-block;
    padding: 8px;
    background-color: black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}