/*configurações em pé */

body {
    background-image: url(../retrato01.jpg);
    background-color: black;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:cover;  
}